<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66725725-2', 'auto');
  ga('send', 'pageview');

</script>
<section data-ng-controller="ArticlesController" data-ng-init="find()">
    <h1>Articles</h1>
    <ul>
        <li data-ng-repeat="article in articles">
            <a data-ng-href="#!/articles/{{article._id}}" data-ng- bind="article.title"></a>
            <br>
            <small data-ng-bind="article.created | date:'medium'"></small>
            <small>/</small>
            <small data-ng-bind="article.creator.fullName"></small>
            <p data-ng-bind="article.content"></p>
        </li>
    </ul>
    <div data-ng-hide="!articles || articles.length">
        No articles yet, why don't you <a href="/#!/articles/
create">create one</a>?
    </div>
</section>
